
.htaccess
.htpasswd
robots.txt
.env

admin/work/*

php/inc/automatic_correspondence_config.php
php/inc/automatic_correspondence_mail_template.php
php/inc/distribution_method_of_inquiry_config.php
php/inc/list_of_third_business_day.php
php/inc/sorting_output_config.php
php/inc/area_difficulty_level_config.php
php/inc/area_want_the_times_config.php
php/log/*
update/log/*
photo/arclink_photo/*
photo/org/*
photo/thumbnail/*
division_drawing/*
admin/temporary/*


google-storage-auth.json
client_secret.json
google-application-credentials.json

phpmig-config.php
vendor
bin

deploy/development/.data
deploy/development/minio-data
yarn-error.log
!.gitkeep
.playground
.idea
node_modules

.npmrc

cron/DistributionOfInquiriesLogs.txt